---
layout: default
---

{% include hero.html page=page %}
<div class="tpl-container">
  <p>Visibilité de 24 sur 24 données API Entreprise</p>
</div>
<section class="tpl-documentation catalog tpl-bg--lightest-grey">
  <div class="tpl-container">
    <div class="tpl-documentation__content">
      poueeeeet
      {% for collection in site.collections.catalogue %}
        {{ collection.label }}
      {% endfor %}
    </div>
    <aside class="tpl-documentation__sidebar">
      <nav class="tpl-documentation__links">
        <h3>Documentation générale</h3>
        <div class="tpl-flex-row general-doc">
          <svg class="tpl-icon" viewBox="0 0 24 24"><use xlink:href="#question-circle"></use></svg>
          <a href="">Vous êtes perdu·e ? Commencez par lire la documentation générale.</a>
        </div>
        <h3>Catalogue des données</h3>
        <a class="tpl-documentation__link tpl-documentation__link--active">Description</a>
        <a class="tpl-documentation__link">Liste des données</a>
        <a class="tpl-documentation__link">Documentaion technique</a>
        <a class="tpl-documentation__link">Réutilisations</a>
        <a class="tpl-documentation__link">Contact de l’API</a>
        <a class="tpl-documentation__link">Licence</a>
        <button class="tpl-button tpl-button--gradient">Tester l’API <svg class="tpl-icon" viewBox="0 0 24 24"><use xlink:href="#arrow-up-right"></use></svg></button>
      </nav>
    </aside>
  </div>
</section>