---
layout: default
---

<div class="home">
  <section class="tpl-hero">
    <div class="tpl-container tpl-flex-row tpl-flex-jc-sa">
      <h1 class="tpl-hero__title">
        <div class="headline">
          <span class="headline-core">Vous êtes&nbsp;</span><span class="alternate">une administration ?</span><span class="alternate2">éditeur prestataire d'une administration ?</span></div>
        <div class="subtext">Simplifiez les démarches des entreprises et des associations<br />en récupérant pour elles leurs informations administratives</div>
    </div>
  </section>
  <section class="tpl-section providers">
    <div class="tpl-container">
      <h2>Nos fournisseurs de données</h2>
      <ul class="providers__main text-center">
        <li>
          <img class="" src="{{ site.baseurl }}{% link assets/images/providers/insee.png %}" alt="INSEE">
        </li>
        <li>
          <img class="" src="{{ site.baseurl }}{% link assets/images/providers/infogreffe.png %}" alt="Infogreffe">
        </li>
        <li>
          <img class="" src="{{ site.baseurl }}{% link assets/images/providers/dgfip.png %}" alt="Direction Générale des Finances Publiques">
        </li>
        <li>
          <img class="" src="{{ site.baseurl }}{% link assets/images/providers/acoss.png %}" alt="ACOSS">
        </li>
      </ul>
      <ul class="providers__others text-center">
        <li>
          <img class="" src="{{ site.baseurl }}{% link assets/images/providers/inpi.png %}" alt="INPI">
        </li>
        <li>
          <img class="" src="{{ site.baseurl }}{% link assets/images/providers/qualibat.png %}" alt="Qualibat">
        </li>
        <li>
          <img class="" src="{{ site.baseurl }}{% link assets/images/providers/rna.svg %}" alt="Répertoire National des Associations">
        </li>
        <li>
          <img class="" src="{{ site.baseurl }}{% link assets/images/providers/cnetp.svg %}" alt="CNETP">
        </li>
        <li>
          <img class="" src="{{ site.baseurl }}{% link assets/images/providers/probtp.png %}" alt="ProBTP">
        </li>
        <li>
          <img class="" src="{{ site.baseurl }}{% link assets/images/providers/msa.png %}" alt="MSA">
        </li>
        <li>
          <img class="" src="{{ site.baseurl }}{% link assets/images/providers/opqibi.png %}" alt="OPQIBI">
        </li>
        <li>
          <img class="" src="{{ site.baseurl }}{% link assets/images/providers/fntp.png %}" alt="FNTP">
        </li>
        <li>
          <img class="" src="{{ site.baseurl }}{% link assets/images/providers/agefiph.png %}" alt="AGEFIPH">
        </li>
      </ul>
    </div>
  </section>
</div>
